 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Acerca de mi</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hola me llamo Maria Teresa Matteo Cassino, nativa Venezolana con descendencia Italiana</p>
                </div>
                <div class="col-lg-4">
                    <p>Te ofrezco mis serviios de traducciones de cualquier tipo de textos y documentos y / o servicios de interprete entre los idiomas: Español, Italiano e Inglés</p>
                </div>
            </div>
            <p>&nbsp;</p>
            <div class="row">
                <div class="col-xs-4">
                    <img src="https://cdn.staticaly.com/gh/hjnilsson/country-flags/master/svg/it.svg" class="img-fluid flag-fixed-height">
                </div>
                <div class="col-xs-4">
                    <img src="https://cdn.staticaly.com/gh/hjnilsson/country-flags/master/svg/ve.svg" class="img-fluid flag-fixed-height">
                </div>
                <div class="col-xs-4">
                    <img src="https://cdn.staticaly.com/gh/hjnilsson/country-flags/master/svg/us.svg" class="img-fluid flag-fixed-height">
                </div>
            </div>
        </div>
    </section>
